.form {
  background:blueviolet;
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:br;
  box-shadow:rgb(0,0,0,.1);
}


 body {
 background:rgb(0, 1, 15);
 color:black;
 }

 nav{
   background: rgb(0,0,0,.1);
 }

 .card{
   background: white;
   color: black;
 }

 .container{
   margin-top: 1em;
   background: white;

   border-top-left-radius: 1em;
   border-top-right-radius: 1em;
   border-bottom-left-radius: 1em;
   border-bottom-right-radius: 1em;
 }

 #card1{
   color: black;
 }